/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .silde-content h2{
  	font-size: 45px;
  }
  .promo-gallery-tile img {
    max-width: 65%;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.section-padding {
    padding: 60px 0px;
}

.spacer-50 {
    height: 0;
}
  .main-menu {
    display: none;
}
.mobile-menu {
    display: block;
}

.text-right.mobile-left {
    text-align: left;
}
/*
.promo-gallery-tile {
    margin-left: 0;
    height: auto;
}
.promo-gallery-tile img{
  width: 100%;
}

.promo-gallery-tile img:nth-child(2) {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 20px;
    width: 100%;
}
.promo-gallery-tile img:nth-child(3) {
    position: relative;
    left:  auto;
    top: auto;
    margin-top: 20px;
    width: 100%;
}
*/

.service-bg:before {
    position: absolute;
    height: 300px;
    width: 100%;
}

.service-item:first-child {
    margin-top: 300px;
}
.service-item:hover:after {
    display: none;
}

.service-item {
    padding-right: 10px;
}
.hero-area {
    padding: 80px 0px 50px;
}
.hero-txt {
    margin-top: 10px;
}
.about-txt .boxed-btn {
    margin: 20px 0px;
}
.service-box {
    padding: 10px;
    margin-top: 10px;
}
.margin-80 {
    margin: 20px 0px;
}
.team-list {
    margin-top: 20px;
}

img.rs {
    width: 100%;
}
.spacer-40 {
    height: 0px;
}
.portfolio-filter {
    margin: 0;
    margin-bottom:10px;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  .mobile-menu {
    display: block;
}
 .main-menu {
    display: none;
}
.silde-content h2{
  	font-size: 30px;
  }
  .silde-content {
    margin: 100px 0px;
}

.section-padding {
    padding: 50px 0px;
}

.promo-gallery-tile {
    margin-left: 0;
    height: auto;
}
.promo-gallery-tile img{
  width: 100%;
}

.promo-gallery-tile img:nth-child(2) {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 20px;
    width: 100%;
}
.promo-gallery-tile img:nth-child(3) {
    position: relative;
    left:  auto;
    top: auto;
    margin-top: 20px;
    width: 100%;
}


.service-bg:before {
    position: absolute;
    height: 300px;
    width: 100%;
}

.service-item:first-child {
    margin-top: 300px;
}
.service-item:hover:after {
    display: none;
}

.service-item {
    padding-right: 10px;
}

.text-right.mobile-left {
    text-align: left;
}
.single-brand {
    margin: 0 auto;
}


.hero-area {
    padding: 80px 0px 50px;
}

.hero-txt {
    margin-top: 0px;
}

.hero-txt h1 {
    font-size: 40px;
    line-height: 40px;
}

.register-form {
    padding: 25px;
    margin-top: 20px;
}
.register-form h3 {
    margin-bottom: 20px;
    font-size: 18px;
}
.spacer-50 {
    height: 0px;
}
.about-txt .boxed-btn {
    margin: 20px 0px;
}
.service-box {
    padding: 20px;
    margin-top: 10px;
}
.margin-80 {
    margin: 20px 0px;
}
.spacer-40 {
    height: 0px;
}
.breadcromb-area {
    padding: 120px 0px;
}

blockquote {
    margin: 0;
    padding: 15px;

}
.single-comment {
    padding: 100px 20px 20px;
}
.blog-scocial-share a {
    display: block;
    margin-top: 5px;
}
.recent-post-widget h3 a {
    font-size: 16px;
}
.contact-box {
    padding: 20px;
}
.contact-form {
    padding: 20px 0px;
}

.portfolio-filter li {
    padding: 7px;
    font-size: 16px;
}
.portfolio-filter {
    margin: 0;
    margin-bottom:10px;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}